@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

/* 97 border*/
#main_sidemenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
}
#main_sidemenu ul,
#main_sidemenu ul li,
#main_sidemenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main_sidemenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#main_sidemenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
}
#main_sidemenu ul li.hover,
#main_sidemenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#main_sidemenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 598;
  width: 100%;
}
#main_sidemenu ul ul li {
  float: none;
}
#main_sidemenu ul ul ul {
  top: -2px;
  right: 0;
}
#main_sidemenu ul li:hover > ul {
  visibility: visible;
}
#main_sidemenu ul ul {
  top: 1px;
  left: 99%;
}
#main_sidemenu ul li {
  float: none;
}
#main_sidemenu ul ul {
  margin-top: 1px;
}
#main_sidemenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#main_sidemenu {
  width: 200px;
  /*background: #333333;*/
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
  color:#000;
}
#main_sidemenu:before {
  content: '';
  display: block;
}
#main_sidemenu:after {
  content: '';
  display: table;
  clear: both;
}
#main_sidemenu a {
  display: block;
  padding: 15px 20px;
  color: #ffffff;
  text-decoration: none;
}
#main_sidemenu > ul {
  width: 200px;
}
#main_sidemenu ul ul {
  width: 200px;
}
#main_sidemenu > ul > li > a {
  /*border-right: 4px solid #1b9bff;*/
  color: #ffffff;
}
#main_sidemenu > ul > li > a:hover {
  color: #ffffff;
}
#main_sidemenu > ul > li.active a {
  background: #1b9bff;
}
#main_sidemenu > ul > li a:hover,
#main_sidemenu > ul > li:hover a {
  background: #1b9bff;
}
#main_sidemenu li {
  position: relative;
}
#main_sidemenu ul li.has-sub > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -6px;
}
#main_sidemenu ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
#main_sidemenu ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}
#main_sidemenu ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
#main_sidemenu ul ul {
  border: 1px solid #0082e7;
}
#main_sidemenu ul ul a {
  font-size: 12px;
  color: #ffffff;
}
#main_sidemenu ul ul a:hover {
  color: #ffffff;
}
#main_sidemenu ul ul li {
  border-bottom: 1px solid #0082e7;
}
#main_sidemenu ul ul li:hover > a {
  background: #4eb1ff;
  color: #ffffff;
}
#main_sidemenu.align-right > ul > li > a {
  border-left: 4px solid #1b9bff;
  border-right: none;
}
#main_sidemenu.align-right {
  float: right;
}
#main_sidemenu.align-right li {
  text-align: right;
}
#main_sidemenu.align-right ul li.has-sub > a:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}
#main_sidemenu.align-right ul li.has-sub > a:after {
  content: none;
}
#main_sidemenu.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}
#main_sidemenu.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}
#main_sidemenu.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}
#main_sidemenu.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
