.swiper-slide {
	padding-top: 14px;
	color: #4c90ff;
	padding-bottom: 15px;
}

.swiper-button-prev {
	left: 0px;
	background-size: 17px 44px;
}

.swiper-button-next {
	right: 0px;
	background-size: 17px 44px;
}