/*Slider css for the revolution slider*/



.imed-sl1 img{max-width: 100%;}

.bluebg-t1{font-size: 37px !important; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}

.whitebg-t1{font-size: 37px !important; color: #107fc9; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}

.bluebg-t2,.whitebg-t2{font-size: 27px !important; font-weight:bold; color: #231f20; font-family: 'Open Sans', sans-serif;}

.bluebg-t3{font-size: 13px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.whitebg-t3{font-size: 13px !important; color: #999999; font-family: 'Open Sans', sans-serif;}

.s1-but a{font-size: 15px !important; font-weight:bold; color: #231f20; padding: 15px 25px; background-color: #fff;}

.s1-but a:hover{color: #107fc9;}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}