html{
    font-family: "canada-type-gibson",sans-serif;
}
body,a{
    font-family: "canada-type-gibson",sans-serif !important;
}
.input-alert {
    border: 1px solid;
    border-color: #ff0000;
}
@media (min-width: 992px) {
    .purchase-wrap-blue{
        max-height: 107px;
    }
}
@media (max-width: 991px) {
    .bottom-footer p{
        text-align: center;
    }
}

@media (max-width: 767px) {
    .hippa-img{
        height: auto !important;
        margin-bottom: 15px;
    }
    .hippa-container p span{
        padding-left: 0px !important;
    }
    .bottom-footer p{
        text-align: center;
    }
}
.purchaseImg{
    max-height: 191px;
    margin-top: -48px;
}
.purchaseImg2{
    margin-top: 10px;
    margin-bottom: 5px;
}
.about-p{
    color: #6e6e6e;
    font-size: 15px;
    font-family: "canada-type-gibson",sans-serif;
}
.about-title{
    /* text-transform: uppercase; */
    font-size: 28px;
    color: #414042;
    font-family: "canada-type-gibson",sans-serif;
    width: 100%;
    position: relative;
    line-height: 1.3em;
    /*    padding-bottom: 15px;*/
    font-weight: normal;
    /*    border-bottom: 1px solid #e0e1e2;*/
}
.about-desi{
    /* text-transform: uppercase; */
    font-size: 15px;
    color: #414042;
    font-family: "canada-type-gibson",sans-serif;
    width: 100%;
    line-height: 1.3em;
    font-weight: normal;
    margin: 7px 0px 15px 0px;
}
.about-person{
    border: 4px solid #D6D5D5;
    max-height: 150px;
}
.center{
    text-align: center;
}
.paading15{
    padding: 15px;
}
.google-maps {
    position: relative;
    padding-bottom: 73.3%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: 500px;
}

.feature-img{
    text-align: center;
}
.left-box{
    background-color: #FFFFFF;
    padding: 15px;
}
.right-box{
    background-color: #F7F7F7;
    /* min-height: 450px; */
    /* padding: 15px; */
}
.left-content h1{
    color: #494949;
}
.left-content p{
    color: #494949;
    font-size: 16px;
    font-weight: normal;
}
.right-content p{
    color: #333;
    font-size: 16px;
    font-weight: normal;
}
.nopadding-bor-mar{
    padding: 0px;
    margin: 0px;
    border:none;
}
.carousel-control .glyphicon-chevron-right {
    right: 20%;
    font-size: 25px;
}
.carousel-control .glyphicon-chevron-left {
    left: 20%;
    font-size: 25px;
}
.quickLinks{
    text-align: center;
}
.quickLinks span{
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
}
.quickLinks div.foot-widget-title{
    text-align: left;
}
.footerLinks{
    color: #fff;
    text-align: left;
}
.ul footerLinks li {
    padding: 0px;
    color: #fff;
}
.iconBoxes_custom{
    margin-top: 15px;
}
.custom-content{
}
.top-links{
    color: #FF0C00;
    font-size: 14px;
    font-weight: bold;
}
.top-links a {
    color: #5A5A5A;
    font-size: 16px;
    font-weight: normal;
    padding: 0px 15px 0px 10px;
}
.top-links a:active,.top-links a :hover .top-links a :focus {
    text-decoration: none;
    border: none;
}
/*@media (max-width: 767px)*/
.top-mob.nav>li>a {
    padding: 0px;
}
.purchase-img-box{
    padding: 5px;
}
.float-R{
    float: right;
}
.form-control{
    border-radius: 4px;
}
.form-horizontal .control-label {
    font-size: 13px;
    font-family: "canada-type-gibson",sans-serif;
    color: #898989;
}
.become-form{
    text-align: center;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 5px;
}

.input-alert {
    border-color: #ff0000;
}

.no-display{
    display: none;
}
.contactUs_frm{
    border: 1px solid #D2D2D2;
    padding: 15px;
    border-radius: 5px;
}

.contact-title{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
    color: #414042;
}

.contact-title2{
    float: left;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
}

.shopping-thumb{
    padding: 10px;
    padding-bottom: 0px;
}

.item-name{
    padding-bottom: 6px;
    font-size: 13px;
    color: #2F2F2F;
    font-family: "canada-type-gibson",sans-serif;
    letter-spacing: 1px;
}
.price-box b{
    font-size: 14px;
    font-family: "canada-type-gibson",sans-serif;
}

/*Slider css*/

.containers {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.containers slide {
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
}
.containers img {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    /* border: none; */
}

.next, next:active, next:hover, .next:before {
    right: 5px;
    border: 0px;
    background-color: transparent;
}
.next span, .prev span {
    color: #399226;
    font-size: 40px;
}

.prev {
    left: 5px;
    border: 0px; 
    background-color: transparent;
}
.face-container{
    padding: 20px 0px 20px 20px;
}
.face-title{
    font-size: 24px;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    color: #636363;
}

/*Login form css*/

.login-container{
    padding: 15px;
    border-left: 0px solid #ccc;
}
@media (min-width: 768px) {
    .login-container{
        padding: 15px;
        border-left: 1px solid #ccc;
    }
    .login-box{
        margin-left: 7%;
        text-align: center;
    }
}
.login-box{
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-box form{
    padding: 15px;
}
.login-title
{
    text-align: center;
    margin: 0px 0 15px 0;
    position: relative;
    padding-top: 15px;
    font-size: 25px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
    color: #414042;
}
.actions{
    padding: 10px 0px 10px 0px;
}
.social{

}
.social span{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #636262;
    font-family: "canada-type-gibson",sans-serif;
    display: block;
    margin-top: 0px;
}
.actions span{
    float: right;
    margin-right: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #414042;
    font-family: "canada-type-gibson",sans-serif;
    cursor: pointer;
}
.social-icon{
    text-align: center;
    position: relative;
}
.social-icon img{
    margin-top: 10px;
    max-height: 40px;
    padding: 0px;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.social-box{
    margin-top: 15px;
}
.actions button{
    background-color: #0f9d58;
    position: relative;
    color: #fff;
    max-width: 120px;
    cursor: pointer;
    padding-left: 15px;
    width: 100%;
}
.form-group {
    position: relative;
}
.form-control {
    border-radius: 4px;
    /* padding-left: 30px; */
}
.login-icon{
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}
/*Login css end */
.foot-widget {
    border-bottom: 0px solid #272424;
}
.btn:hover, .btn:focus {
    color: #FFF;
    text-decoration: none;
}
.blog-title {
    margin: 0px 0 8px 0;
    position: relative;
    padding-top: 15px;
    font-size: 18px;
    font-family: "canada-type-gibson",sans-serif;
    color: #414042;
}
.date{
    font-size: 12px;
    font-weight: bold;
    font-family: "canada-type-gibson",sans-serif;
    color: #5F5F5F;
}
.blog-title-main{
    padding-left: 15px;
    /* margin-left: 10px; */
    border-left: 1px solid #ccc;
}
.blog-title-container{
    cursor: pointer;
    margin: 10px 0px 15px 15px;
    border-bottom: 1px solid #E89E5F;
    padding-bottom: 10px;
}
.pragraph{
    margin-top: 15px;
}
.pragraph p{
    color: #6e6e6e;
    font-size: 15px;
    font-family: "canada-type-gibson",sans-serif;
}
.blog-pragraph-container{
    display: none;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #42CA53;
    border-color: #42CA53;
}
.blog-main{
    border: 0px solid #ddd;
    background-color: #fff;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.list-group-item {
    padding: 6px 15px;
    position: relative;
    display: block;
    background-color: #fff;
    border: 0px solid #ddd;
}
.download{
    padding: 15px;
    padding-top: 50px;
    overflow: hidden;
    min-height: 530px;
    width: 100%;
        background-color: #f9f9f9;
}

.download-image{
}
.download-image img{
    max-height: 530px;
}
.nopadding{
    padding: 0px; 
}
.hms-name{
    line-height: 1.2;
    margin-top: 15%;
    color: #444;
    font-size: 44px;
    font-weight: 600;
    font-stretch: normal;
    font-family: "canada-type-gibson",sans-serif;
}
.sub_text{
    line-height: 1.4;
    color: #444;
    font-style: italic;
    font-size: 40px;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 300;
    font-stretch: normal;
}
.download-buttons{
    margin-top: 15px;
}
.download-buttons img{
    display: inline-block;
    padding: 10px;
}
.no-margin-b{
    margin-bottom: 0px;
}
.checkbox-login{
    padding: 0px;
    margin-top: 0px;
    margin-left: 10px;
}

.loginsub {
    cursor: pointer;
    font-size: 12px;
    color: #414042;
    margin-bottom: 3px;
}
#user-alert {
    display: none;
    background-color: #F99595;
    padding-top: 6px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #000;
    text-align: center;
}
#connection_notify {display: none;      background-color: #F99595;      padding-top: 6px;      padding-bottom: 5px;      border-radius: 4px;      margin-top: 19px;      color: #000;      text-align: center;}

#user-alert-reg, #user-alert-reg-aval {
    display: none;
    background-color: #F99595;
    padding-top: 6px;
    padding-bottom: 5px;
    border-radius: 4px;
    margin-top: 19px;
    color: #000;
    text-align: center;
}
#reg_status_out,#status_out{
    display: none;
    margin-bottom: 10px;
}
.modal-backdrop.in{
    display: none;
}
.modal{
    top: 10%;
}
.modal-header{
    background-color: #298A08;
}
.modal-title {
    color: #fff;
}
.modal-header .close {
    color: #FFFFFF;
    opacity: 1;
}
#recover-errormsg-alert,#recover-sucessfull-send{
    display: none;
}
#recover_button{
    position: relative;
    background-color: #298A08;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: auto;
    border-color: #298A08;
}
.modal-body {
    text-align: center;
}
#recover_email{
    padding-left: 15px;
}
.right-content>h1, .left-content>h1{
    font-size: 40px;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 400;
    color: #494949;
}
@font-face {
    font-family: "canada-type-gibson",sans-serif;
    src: url('../fonts/ufonts.com_gotham-bold.woff');
}
.right-img{
    margin-left: 7%;
}
.modal-title{
    text-align: center;
}
#recover_status_out{
    display:none;
}
#forget{
    padding-top: 5px;
    cursor:pointer;
}
#forget b{
    font-weight: normal;
}
#remember_box{width:100px;}

.commonForm{
    padding: 10px;
    /* border: 1px solid #5A5A5A; */
    /* margin-top: 15px; */
    background-color: #FFF;
    display: block;
    border-radius: 4px;
}
.demo-popup h4{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 13px;
    margin-bottom: 15px;
    display: inline-block;
}
.seeDemo_button, seeDemo_button:hover, seeDemo_button:active{
    position:  relative;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    /* font-weight: bold; */
    border: 0px solid #0f9d58;
    background-color: #0f9d58;
}
.demoFormCont{
    z-index: 999999991;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* background-color: #000; */
}
#signin-form-reg .form-control, #login-form .form-control{
    padding-left: 30px;
}
.video-box{
    background-color: #F7F7F7;
    margin-bottom: 30px;
}
.video-box h1{
    margin-top: 30px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
    font-family: "canada-type-gibson",sans-serif;
    font-size: 40px;
    color: #494949;
    text-transform: uppercase;
}

.dv-video-player__video {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.dv-video-player__iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.DemoClose{
    float: right;
    color: #007FFF;
    display: inline-block;
    position: relative;
    max-height: 25px;
    cursor: pointer;
    font-size: 18px;
    left: 11px;
    top: -12px;
}
#partner-warning, #partner-sucessfull{
    display: none;
}
.becomeBtn{
    width: 100%;
    position: relative;
}
.regforLogin{

    margin-top: 7px;
}
.regforLogin a{

    font-size: 18px;

    font-weight: normal;

    color: #464545;
}
.icon-box-list-container{

}
.icon-box-list-container li{
    border-bottom: 1px solid #dadada;
    list-style-type: disc;
    color: #626567;
}
.icon-box-list-container li+li+li {
    border-bottom: 1px solid #dadada;
}
.icon-box-list-container li:last-child{
    border: none;
}
.reqDemo{

    z-index: 99999999;

    display: none;

    width: 100%;

    height: 100%;

    background-color: #545454;

    /* opacity: 0.9; */

    position: fixed;/*it can be fixed too*/

    left:0;

    right:0;

    top:0;

    bottom:0;

    margin:auto;

    /*this to solve "the content will not be cut when the window is smaller than the content": */

    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);

    background: rgba(0, 0, 0, 0.8);

    color: rgba(0, 0, 0, 0.8);
}
.dummy-h{
    height: 114px;
    width: 100px;
    background: coral;
    display: -webkit-box;
}
.dummy-h1{
    height: 88px;
    width: 100px;
    /* background: coral; */
    display: -webkit-box;
}
.dummy-h2{
    height: 108px;
    width: 100px;
    /* background: coral; */
    display: -webkit-box;
}
.dummy-h3{
    height: 106px;
    width: 100px;
    /* background: coral; */
    display: -webkit-box;
}
.width-100{
    width: 100%;
}
.icon-box-custom{
    max-height: 67px;
}
.icon-boxwrap2-custom{
    margin: 20px auto 0 auto;
    text-align: center;
}
.icon-boxes-1 {
    /* margin-bottom:15px; */
}
.parterner-img{
    display: inline-block;
    width: 100%;
    text-align: left;
    /*    margin-bottom: 15px;*/
}
.parterner-img h3{
    font-family: "canada-type-gibson",sans-serif;
    color: #494949;
    font-weight: normal;
    margin-top: 35px;
}
.parterner-img ul li{
    display: inline-block;
    margin: 0px 0 0px 10px;
}
.parterner-img ul li:first-child{
    margin-left: 0px;
}
.parterner-img ul li img{
    max-width: 90px;
}
.hippa-img{
    height: 230px;
    margin-bottom: 15px;
}
.hippa-container{
    display: inline-block;
    margin-top: 35px;
    margin-bottom: 20px;
}
.hippa-container p span{
    font-size: 14px;
    display: table;
    padding-top: 25px;
    padding-left: 30px;
}
.foot-widget span{
    /*    display: inline-block;*/
}
@media (max-width: 991px) and (min-width: 768px){
    .quickLinks{
        text-align: left;
    }
}
@media (max-width: 767px){
    .quickLinks{
        text-align: left;
    }
}
.demo-popup{
    background-color: #fff;
    padding: 0px;
    /* border: 2px solid #fff; */
}
.demo-header{background-color: gray;margin-left: 0px;margin-right: 0px;display: block;}

#recover-successfull-send{display: none;}
/*Scroll parterners*/

/*.scroll-img {
    overflow: hidden;
    font-size: 0;
    width: 680px;
    height: 142px;
}
.scroll-img ul {
    width: 700px;
    height: 600px;
    margin: 0;
}
.scroll-img ul li {
    display: inline-block;
    margin: 10px 0 10px 10px;
}
#demo5.scroll-img ul {
    width: 1500px;
}
#demo5-btn {
    position: relative;
    width: 680px;
    padding-top: 10px;
}
.scrol-img-btn{
    position: relative;
}*/

/*Scroll parterners*/


//css after newdesign by designer
