/*    Alter Bootstrap css    */

.navbar-default {
    background-color: #fff;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #4cd964;
    margin-bottom: 0px;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 6px 30px 5px 15px;
    font-size: 18px;
    line-height: 20px;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #19719f;
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover {
    color: #19719f;
    font-size: 18px;
    font-weight: 300;
    font-family: "canada-type-gibson",sans-serif;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>li>a:hover{
    border-bottom: 3px solid #19719f;
}

.navbar-toggle {
    margin-top: 14px;
}

.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    font-size: 55px;
}

.carousel-control.left {
    width: 8%;
}

.carousel-indicators {
    position: absolute;
    bottom: -45px !important;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    width: 13px;
    height: 13px;
    margin: 1px;
    background-color: #999999;
    border: 0px solid #fff;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: #fff;
    border: 1px solid #4cd964;
}

.media-body{
    padding-top: 15px;
    padding-bottom: 8px;
    color: #666666;
}
.media-heading {
    margin-bottom: 15px;
}

/*xs devides*/
@media(max-width:767px){
    .navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>li>a:hover {
        font-size: 16px;
    }

    .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right, .carousel-control .icon-next, .carousel-control .icon-prev {
        top: 44%;
        font-size: 18px;
    } 
    .wearableImg {
        margin-top: 50px !important;
    }

    .hippa-img {
        /*        height: 230px;*/
        margin-bottom: 15px;
        float: none !important;
    }

    .hippa-container {
        margin-top: 10% !important;
    }
    .wearable-button {
        width: 100% !important;
    }

    .hippa-container p span{
        padding-left: 0px !important;
    }

    .parterner-img {
        display: inline-block;
        width: 100%;
        text-align: left !important;
        /* margin-bottom: 15px; */
    }

    .brands{
        display: none;
    }

}

/*sm devices*/
@media(min-width:768px) and (max-width: 991px) {
    .wearableImg {
        margin-top: 10% !important;
    }
    .nav>li>a {
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .foot-widget-title-center{
        font-size: 15px;
        color: #565656;
        line-height: 2.3em;
        padding-bottom: 10px;
        text-transform: capitalize;
        float: left;
        width: 100%;
        display: block;
        text-align: left !important;
    }
    .parterner-img {
        display: inline-block;
        width: 100%;
        text-align: left !important;
        /* margin-bottom: 15px; */
    }
}

/*md*/
@media(min-width:992px) and (max-width: 1199px) {
    .nav>li>a {
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .foot-widget-title-center{
        font-size: 15px;
        color: #565656;
        line-height: 2.3em;
        padding-bottom: 10px;
        text-transform: capitalize;
        float: left;
        width: 100%;
        display: block;
        text-align: center !important;
    }
    .wearable-body img{
        max-width: 250px;
    }

}


@media(min-width:1200px){
    .nav>li>a {
        padding-top: 22px;
        padding-bottom: 18px;
    }
    .foot-widget-title-center{
        font-size: 15px;
        color: #565656;
        line-height: 2.3em;
        padding-bottom: 10px;
        text-transform: capitalize;
        float: left;
        width: 100%;
        display: block;
        text-align: center !important;
    }
    .wearable-body img{
        max-width: 250px;
    }
}

/*    End Alter Bootstrap css    */


body,h1,h2,h3,h4,h5,h6{
    font-family: "canada-type-gibson",sans-serif !important;
}
h4{
    font-weight: 600;
    color: #666666;
}

.contents{
    padding-top: 60px;
}

.wearable{
    background-color: #4cd964;
    padding-top: 15px;
    margin-top: 15px;
    padding-top: 20px;
}

.wearable-body{
    color: #fff;
    margin-bottom: 15px;
}

.wearable-heading{
    font-weight: 600;
    color: #fff;
    margin-top: 35px;
}
.wearableImg{
    margin-top: 10px;
}
.wearable-button{
    margin-top: 10px;
    width: 260px;
    background-color: #fff;
    color:#4cd964;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.hippa-container {
    display: inline-block;
    margin-top: 6%;
    margin-bottom: 20px;
}
.hippa-img {
    height: 230px;
    margin-bottom: 15px;
    float: left;
}
.hippa-container p span {
    font-size: 14px;
    display: table;
    padding-top: 25px;
    padding-left: 30px;
}


.complete-footer {
    float: left;
    width: 100%;
    z-index: 0;
    bottom: 0;
    left: 0;
}
#footer {
    background: #F0F0F0;
    position: relative;
    float: left;
    width: 100%;
    padding: 35px 0px 20px 0;
}
.foot-widget {
    border-bottom: 0px solid #272424;
}
.foot-widget-title-center{
    font-size: 15px;
    color: #565656;
    line-height: 2.3em;
    padding-bottom: 10px;
    text-transform: capitalize;
    float: left;
    width: 100%;
    display: block;
    text-align: left;
}
.foot-widget-title {
    font-size: 15px;
    color: #565656;
    line-height: 2.3em;
    padding-bottom: 10px;
    text-transform: capitalize;
    float: left;
    width: 100%;
    display: block;
    text-align: left;
}
.foot-address {
    padding-bottom: 0px;
    float: left;
    margin-bottom: 14px;
}
.foot-address div {
    color: #3C3C3C;
    line-height: 1.5em;
    padding-bottom: 12px;
    /* width: 350px; */
}
.parterner-img {
    display: inline-block;
    width: 100%;
    text-align: center;
    /* margin-bottom: 15px; */
}
.parterner-img ul{
    padding-left: 0px;
    display: inline-block;
}
.parterner-img ul li:first-child {
    margin-left: 0px;
}
.parterner-img ul li {
    display: inline-block;
    margin: 0px 0 0px 10px;
}
.parterner-img ul li img {
    max-width: 90px;
}
.foot-widget:last-child {
    border: none;
}
.social-wrap {
    height: auto;
    width: 100%;
    float: left;
}
.social-wrap ul{
    padding-left: 0px;
}
.social-wrap li {
    background: none;
    float: left;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.bottom-footer {
    background: #F0F0F0;
    float: left;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
}
.bottom-footer .container {
    border-top: 1px solid #ADADAD;
    padding-top: 7px;
}
.bottom-footer p {
    color: #3C3C3C;
    line-height: 21px;
    margin: 0px;
}
.social-icon {
    text-align: center;
    position: relative;
}
.social-icon {
    max-height: 30px;
    padding-right: 6px;
}
.bottom-footer a {
    color: #3C3C3C;
}
.no-pad {
    padding: 0px;
}


/*feature page css*/

.banner{
    /*    background: linear-gradient(rgba(76, 217, 100,0.8), rgba(76, 217, 100, 0.8)), url('../image/features/bannerBackground.jpg') no-repeat center;*/
    background: url('../image/features/bannerBackground.jpg') no-repeat center;
    background-position: right;
    background-size: cover;
}

/*.banner:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
   background-color: rgba(76, 217, 100, 0.53);
  content: ' ';
}*/

.bannerpro-txt {
}

.bannerpro-txt h2 {
    margin-top: 21%;
    font-size: 70px;
    font-weight: 400;
}

.bannerpro-txt h3 {
    margin-top: 5%;
    font-weight: 600;
}

.btn-banner{
    margin-top: 8%;
    padding: 10px 70px;
    background-color: rgb(0, 122, 255);
    border: 1px solid #007aff;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}
a {
    text-decoration: none !important;
}

.btn-banner:focus, .btn-banner:hover, .btn-banner:active {
    background-color: rgb(0, 122, 255);
    border: 1px solid #007aff;
    color: #fff;
}

.badge-store{
    margin-top: 6%;
    margin-bottom: 5%;
}
.badge-store img:first-child{
    padding-right: 11px !important;
}
.store{
    height: 40px;
    display: inline-block;
}
.feature-contents{

}
.feature-white{
    background-color:#fff;
}
.feature-grey{
    background-color: #f4f8f5;
}

.feature-txt {
    color:#535353;
}

.feature-txt h3 {
    font-size: 39px;
    margin-top: 13%;
    font-weight: 400;
    margin-bottom: 16px;
    color:#535353;
}

.feature-txt ul li{
    font-size: 19px;
    font-weight: 100;
}

.feature-txt-small{
    color:#535353;
}
.feature-txt-small h3 {
    font-size: 39px;
    margin-top: 37%;
    font-weight: 400;
    margin-bottom: 16px;
    color:#535353;
}

.feature-txt-small ul li{
    font-size: 19px;
    font-weight: 100;
}

/*Contact us */

.contact-adress{
    margin-top: 2%;
}
.map-full {
    float: left;
    background-size: 100%;
    height: auto;
    width: 100%;
}
.google-maps {
    position: relative;
    padding-bottom: 73.3%;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    max-height: 500px;
}
.contact-details{
    padding-left: 15px;
}

.contact-page-list, .contact-page-social-list {
    width: 100%;
    float: left;
    padding: 0 0 15px 0;
}
.contact-page-list li a{
    /*    color: #6d6d6d;*/
}
.contactUs_frm {
    border: 1px solid #D2D2D2;
    padding: 15px;
    border-radius: 5px;
}
.contact-title {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
    color: #414042;
}
#login-form .form-group{
    margin-bottom: 10px;
}
.login-form-control {
    border-radius: 2px !important;
    height: 42px !important;
}
#reg_status_out, #status_out {
    display: none;
    margin-bottom: 10px;
}
.no-display {
    display: none;
}
#submit, #cancel {
    color: #fff;
    background-color: #0f9d58;
}

.contact2-page-form .btn {
    padding: 0px 60px;
    height: 40px;
    line-height: 40px;
}

.contact-page-list li:first-child {
    line-height: 22px;
    padding-top: 15px;
    min-height: 75px;
}

.contact-title2 {
    float: left;
    margin-top: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
    margin-bottom: 0px !important;
}

.contact-page-list li {
    min-height: 60px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #CDD1D1;
    color: #6d6d6d;
    padding: 0 0 0 0;
    line-height: 60px;
    list-style-type: none;
    margin-left: 15px !important;
}
.icon-contact{
    padding-top: 15px;
    line-height: 25px!important;
}

/*login css*/
.login-contents{
    margin-top: 2%;
    margin-bottom: 15px;
}
.face-container {
    padding: 20px 0px 20px 20px;
}
.login-container {
    padding: 15px;
    border-left: 1px solid #ccc;
}
.login-box {
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 7%;
    text-align: center;
    /*        background: url(../image/login-bg.png);
        background-repeat:no-repeat;
        background-size: cover;*/
}
#signin-form-reg .form-control, #login-form .form-control {
    /*    padding-left: 30px;*/
}
.login-title {
    text-align: center;
    margin: 0px 0 15px 0;
    position: relative;
    padding-top: 15px;
    font-size: 25px;
    font-weight: normal;
    font-family: "canada-type-gibson",sans-serif;
    color: #414042;
}
.login-icon {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}
#forget {
    padding-top: 5px;
    cursor: pointer;
}
#forget b {
    font-size: 13px;
    color: #2b78ff;
    font-weight: 300 !important;
}
.actions {
    padding: 1px 0px 10px 0px;
}
#submit_first{
    padding-top: 11px;
    padding-bottom: 12px;
    border-radius: 2px;
}
.actions button {
    background-color: #0f9d58;
    position: relative;
    color: #fff;
    cursor: pointer;
    padding-left: 15px;
    width: 100%;
}
.actions .btn:hover, .actions .btn:focus {
    color: #FFF;
    text-decoration: none;
}
.login-box form {
    padding: 15px;
    position: absolute;
    bottom: 9px;
    left: 24%;
}
.login-box .reg-form {
    padding: 15px;
    position: absolute;
    bottom: -25px;
    left: 28%;
}
.reg-form-control {
    border-radius: 2px !important;
    height: 42px !important;
}
.reg-form .form-group{
    margin-bottom: 10px;
}
.modal {
    top: 10%;
}
.modal-header {
    background-color: #0f9d58;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}
.modal-header .close {
    color: #FFFFFF;
    opacity: 1;
}
.modal-title {
    text-align: center;
    color: #fff;
}
.modal-body {
    text-align: center;
}
#recover_email {
    padding-left: 15px;
}
#recover_button {
    position: relative;
    background-color: #0f9d58;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: auto;
    border-color: #0f9d58;
}
.form-group{
    position: relative;
}
.regforLogin {
    margin-top: 7px;
}
.regforLogin a {
    font-size: 18px;
    font-weight: normal;
    color: #464545;
    text-decoration: none;
}
.register-content{
    margin-top: 15px;
    margin-bottom: 15px;
}
.input-alert {
    border-color: #ff0000;
}
b{
    font-weight: 500 !important;
}
#user-alert {
    height: 30px;
    background-color: #fff1a8;
    padding-top: 5px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    left: 40%;
    right: 40%;
    top: 15px;
    text-align: center;
    margin-bottom: 10px;
}

#user-alert-reg {
    height: 30px;
    background-color: #fff1a8;
    padding-top: 5px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    text-align: center;
}

#user-alert-reg-aval {
    height: 25px;
    background-color: #F2DEDE;
    padding-top: 2px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#A94442;
    text-align: center;
    display: none;
}
#user-alert,
#user-alert-reg{
    display: none;
}

#connection_notify {display: none;      background-color: #F99595;      padding-top: 6px;      padding-bottom: 5px;      border-radius: 4px;      margin-top: 19px;      color: #000;      text-align: center;}
.modal-backdrop.in{
    display: none;
}
.modal{
    top: 10%;
}
.modal-header{
    background-color: #0f9d58;
}
.modal-title {
    color: #fff;
}
.modal-header .close {
    color: #FFFFFF;
    opacity: 1;
}
#recover-errormsg-alert,#recover-sucessfull-send{
    display: none;
}
#recover_button{
    position: relative;
    background-color: #0f9d58;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    width: auto;
    border-color: #0f9d58;
}
.modal-body {
    text-align: center;
}
#recover_email{
    padding-left: 15px;
}
#recover_status_out{
    display:none;
}
#recover-successfull-send{display: none;}


.horizon-swiper.arrows {
    margin-top: 65PX;
    padding: 0 50px;
}
.horizon-swiper {
    background: #FFF;
}