html,
body {
    overflow-x: hidden;
}

#success_recover {
    color: #298A08;
    padding-top: 5px;
}

.label-style {
    color: #298A08;
}

.header {
    background-color: #298A08;
    border-color: #298A08;
    height: 40px;
}

.back_arrow {
    padding-left: 10px;
}

.boxwrap {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    margin-top: 10px;
}

.boxwrap_map {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
    padding: 15px;
    width: 60%;
    margin: auto;
}

#family_contain {
    border: none;
}

#image_upload {
    border-bottom: 2px solid #CCCCCC;
}

.welcome,
.title_top {
    margin-top: 5%;
    font-weight: bold;
    color: #000000;
    font-size: 18px;
}
.ros_wrapper{
    font-size:inherit;
}
#menulinks {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 145px;
}

.title_top_other {
    margin-top: 5%;
    font-weight: bold;
}

.contain {
    width: 70%;
}

.title {
    margin: 0px;
    font-size: 18px;
    color: #298A08;
    font-weight: bold;
    text-align: center;
}

h5 {
    color: #298A08;
    font-weight: bold;
}

.formfields {
    font-size: 1.5em;
}

.arrow {
    width: 25px;
    height: 25px;
    display: inline;
    float: right;
    background-image: url(../icons/arrows.png);
    background-repeat: no-repeat;
}

.go {
    color: #fff;
}

.loginfield {
    height: 45px;
    cursor: pointer;
    border: 2px solid #298A08;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
}

#capture {
    background-color: #FFFFFF;
    border: 1px solid #e0e0e0;
    color: black;
    width: 100px;
}

.register {
    margin-top: 2px;
    height: 45px;
    cursor: pointer;
    border: 2px solid #298A08;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: green;
    box-shadow: 0 0 0;
}

#first_warn {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

#topcontainer {
    padding-top: 5%;
}
/*
.glyphicon-pencil,
.glyphicon-user,
#welcome {
    font-size: 20px;
    font-weight: bold;
    color: #298A08;
}*/

.back {
    margin-top: 20px;
    padding-left: 5px;
    float: left;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    z-index: 5;
}
#status_out_add_glucose,
#errormsg-alertfamily,
#errormsg-alert_medcat,
#successfull-send_medcat,
#status_out,
#status_out_medcat,
#successfull-send,
#successfull-send_prob,
#errormsg-alert,
#errormsg-alert_prob,
#user-alert,
#user-alert-reg,
#user-success-alert,
#waitmsg,
#wait,
#wait-reg,
#mother_status_out,
#mother_errormsg-alert,
#mother_successfull-send,
#sibilings_status_out,
#sibilings_errormsg-alert,
#sibilings_successfull-send,
#grandparents_status_out,
#grandparents_errormsg-alert,
#grandparents_successfull-send,
#children_status_out,
#children_errormsg-alert,
#children_successfull-send,
#spouse_status_out,
#spouse_errormsg-alert,
#spouse_successfull-send,
#recover_status_out,
#recover-successfull-send,
#recover-errormsg-alert,
#reg_status_out,
#status_out_add,
#family_childern_foward,
#family_childern_backward,
#family_grandparents_backward,
#family_grandparents_foward,
#family_sibilings_foward,
#family_sibilings_backward,
#errormsg-alert_review,
#successfull-send_review,
#status_out_review {
    display: none;
}

#errormsg-alert,
#successfull-send,
#errormsg-alert_medcat,
#successfull-send_medcat {
    width: 80%;
    margin: 0 auto;
}

#errormsg-alert_medcat {
    margin-top: 5px;
}

.btnlg {
    background-color: #FFF;
    /* font-size: 16px; */
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: #298A08;
}

.inputpad {
    padding: 5px;
    color: #fff;
}

.inputpad:visited {
    padding: 5px;
    color: #fff;
}

.nodisplay {
    display: none;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

#main {
    display: inline-block;
}

.loginheader {
    background: #109d58;
    border-bottom: 1px solid #109d58;
    overflow-x: hidden;
    height: 80px;
}

.firtlogin {
    cursor: pointer;
}

.space {
    height: 40px;
}

.space_input {
    height: 15px;
}

.spanlinks,
#find {
    font-size: 9px;
    font-weight: bold;
    color: #298A08;
}

.warningmsg {
    font-size: 12.5px;
    font-family: Arial, sans-serif;
    text-align: left;
    font-weight: bold;
}

.alert-box {
    border: 2px solid #FFD800;
    margin-top: 5%;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #fcf8e3;
}

#alert-warning {
    min-height: 60px;
    display: none;
}

#alert-warning p {
    margin-left: 35px;
    text-align: left;
}

.hospital-list,
.hospital-listclinic {
    box-shadow: 0 2px 5px 0 #ABABAB;
    background-color: #F9F9F9;
    color:#000;
    min-width: 50%;
    width: 50%;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

table {
    table-layout: fixed;
    text-align: center;
}

table td {
    word-wrap: break-word;
}

.hospital-list,
.hospital-listclinic tr td {
    color: #000;
}

.hospital-details {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    min-width: 30%;
    width: 30%;
    padding-left: 5px;
    color:#000;
}

.hospital-detail-disc {
    text-align: left;
    width: 70%;
    min-width: 70%;
    margin: 0 3px 0px 3px;
    color: #000;
    font-size: 16px;
}

.hospital-disc {
    text-align: center;
}

.hospital-name,
.clinic-name {
    text-align: center;
    color: #298A08;
}

#waitmsg,
#details-heading {
    font-size: 18px;
    text-align: center;
    color: #000;
}

.button_tab {
    position: relative;
    padding-top: 5px;
    color: #fff;
}

.slopebtn {
    text-align: center;
    padding-left: 30%;
}

.sub-heading {
    color: #298A08;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

.sub-heading2,
.sub-heading2 a {
    color: #298A08;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
}

#check-in,
#Book-Appointment,
#login,
#create-user {
    /* background-color: #298A08; */
    /*  border: 1px solid white;*/
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    color: white;
    margin: 2px;
}

#Book-Appointment
{
    margin-bottom: 5px;
}

#modal-header,
#modal-header0,
#modal-header_children,
#modal-header_siblings,
#modal-header_grandparents {
    background-color: #109D58;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    color: white;
}

.photo {
    float: left;
    height: 75px;
    width: 75px;
    margin: 5px;
}

.photocontent {
    float: left;
}

#modal-header {
    text-align: center;
}

.photo-close {
    color: #000;
    position: relative;
    z-index: 1;
    margin-right: 0px;
    margin-top: 0px;
}

#camera-alert {
    display: none;
}

#wait,
#wait-reg,
#photocontent1,
#photocontent2,
#photocontent3 {
    display: none;
}

#map {
    width: 100%;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ccc;
    min-height: 300px;
}

.hospital-list tr,
.hospital-listclinic tr {
    cursor: pointer;
}

.warn {
    height: 30px;
    width: 30px;
    float: left;
}

#reason {
    resize: none;
}

#attachment,
#ros-attachment {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    float: left;
}

#camera {
    height: 50px;
    width: 50px;
    margin-top: 5px;
    float: right;
}

.closepic {
    float: right;
}

.warn-alertsendemail {
    height: 30px;
    width: 30px;
    float: left;
    /*marging-right: 5px;*/
}

#err-msg {
    margin-left: 35px;
}

.close {
    opacity: 1;
    text-shadow: 0 1px 0 #000;
}

.closemodel {
    color: #000;
}

#deviceselect,#deviceselect1 {
    text-align: center;
    width: 100%;
}
/* hide in device */

#status_out_labreport,
#errormsg-labreport,
#successfull-labreport,
#successfull-xray,
#errormsg-xray,
#status_out_xray,
#status_out_fileadd,
#successfull-fileadd,
#errormsg-fileadd,
#xray-img,
#lab-report,
#doc-notes,
#devicesub-cat,
#data-status,
#camera-alert {
    display: none;
}

#device-access {
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
}

.deviceinput {
    width: 95%;
    margin: 0 auto;
}

#device-brand {
    border: 1px solid #555;
}

.border-line {
    border-bottom: 1px solid #555;
}

label {
    color: #000000;
}

.form-header {
    text-align: center;
    color: #109d58;
}
/*end Sendemail  page */
/* page search or add patients */

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: transparent;
    text-align: left;
}

.inline_div,
.inline_div {
    padding-right: 2px;
    padding-left: 15px
}

#contacts_next_btn,
#insurance_next_btn_primary,
#insurance_next_btn_secondary,
#insurance_next_btn_tertiary,
#provider_add,
#add,
#addprovider {
    width: 100px;
    padding-bottom: 5px;
}

#form_alert,
#form_alert_second {
    display: none;
    z-index: 55;
    text-align: center;
}

.table-details {
    width: 100%;
    border: 0px;
}

.profile {
    padding: 5px;
}

#who_contents {
    display: none;
}

.icons_profile {
    width: 35px;
    height: 35px;
}

.custom_input {
    margin-bottom: 15px;
}

.custom_select {
    margin-bottom: 0px;
}

.my_providers {
    background-color: #298A08;
    min-width: 100%;
    width: 100%;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
}

#providers_head {
    font-size: 18px;
    padding-right: 30px;
}

.my_providers_top {
    min-width: 100%;
    width: 100%;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #fff;
}

.my_providerslist {
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
}

#provider_title {
    padding-right: 0%;
    text-align:right;
}

#provider_btn {
    width: 30%;
}

.insurance_select,
.issues,
.profile {
    font-size: 15px;
    color: #298A08;
    font-weight: bold;
    cursor: pointer;
}

.btn_finish {
    width: 85px;
}

.provider_place {
    cursor: pointer;
}

#send_email {
    width: 75px;
}

.send_report_details {
    width: 75px;
    vertical-align: top;
}

.send_report_details_data {
    color: #298A08;
}

#family_add {
    padding: 0px;
}
.insurance_btn{
    text-align:center;

}
#family_btn_holder,#family_btn_holder1{
    padding-right: 0;
}

.navigate {
    padding-top: 8px;
    cursor: pointer;
}

.navigate_span {
    padding-left: 0px;
}

#navigate_contain,#navigate_contain1,#navigate_contain2 {
    padding: 0px;
}

.children_name,
.add_meicalprob_cat {
    width: 100px;
    margin-top: 25px;
}

a.acustom {
    /*color: none;*/
    text-decoration: none;
}

#mypain_radio {
    padding-left: 20px;
}

.panel-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #000;
}
/* end Family details*/
/*manage my pain */
.managemypain_header {
    background-color: #eee;
    border: 1px solid #e0e0e0;
    color: #000;
    font-weight: bold;
    height: 30px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.checkbox {
    margin-left: 5px;
    margin-top: 5px;
}

label {
    margin-top: 0px;
}
/* change */
#index_footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.titleheadFirst {
    font-size: 25px;
    color: #fff;
    padding-top: 4px;
}

.download,
#attachment,
#camera,
#fileupload_btn {
    cursor: pointer;
}

.loginsub {
    font-size: 12px;
    margin-top: 5px;
    margin-left: 0px;
    text-align: left;
    padding-left: 5px;
    color: #fff;
}

#logo {
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 30px;
}

#logo_first {
    position: absolute;
    left: 30px;
    top: 5px;
    font-size: 30px;
    width: 120px;
}

#loginheader {
    background: #298A08;
    border-bottom: 1px solid #298A08;
    overflow-x: hidden;
    height: 65px;
    padding-top: 40px;
}

#submit_first {
    color: #298A08;
}

#register {
    width: 100px;
}

#forgot_password {
    cursor: pointer;
}

.wrap {
    margin-top: 10px;
    width: 70%;
    border: 2px solid #878787;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}

.loginheader {
    background: #000d2a;
    border-bottom: 1px solid #000d2a;
    overflow-x: hidden;
    height: 50px;
}

.titlehead {
    font-size: 20px;
    color: #FFF;
    padding-top: 4px;
}

#sidebar {
    padding-right: 0px;
    /*width: 160px;*/
    height: 700px;
    min-height: 605px;
    /*border-right: 2px solid #E8E8E8;;*/
}

#sidebar_other {
    width: 160px;
    height: 900px;
    min-height: 900px;
    border-right: 2px solid #298A08;
}

#sidebar_familyhistory {
    width: 160px;
    height: 1050px;
    border-right: 2px solid #298A08;
}

#sidebar_mypain {
    width: 160px;
    height: 2000px;
    border-right: 2px solid #298A08;
}

#sidebar_insurance {
    width: 160px;
    height: 1520px;
    border-right: 2px solid #298A08;
}

.sidebar_contents {
    /* padding-left: 5px; */
    padding-top: 0px;
}

.sidebar_icons,
iconsholder {
    width: 35px;
    /* height: 40px; */
}

.sidebar_icons {
    margin-left: 5px;
}

.iconsholder {
    float: left;
    padding-right: 7px;
}

.iconsholder_other {
    float: left;
    padding-left: 2px;
    padding-right: 5px;
}

.sidebar_title {
    padding-top: 13px;
    text-align: left;
}
.sidebar_titlenopad{
    text-align: left;
}
.sidebar_title_other {
    padding-top: 10px;
    text-align:left;
}
.main_nav {
    font-weight: bold;
    color: #FFF;
    padding-top: 2px;
    font-size: 13px;
    height: 50px;
    cursor: pointer;
    margin-top: 2px;
    /* width: 130px; */
}

.main_nav_other {
    font-weight: bold;
    color: #FFF;
    padding-top: 2px;
    font-size: 13px;
    height: 50px;
    cursor: pointer;
    width: 200px;
    border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 2px;
    background-color: #0084FF;
    border:0px solid transparent;
}

.main_nav_selcted {
    background-color: #eee;
    /* background-image: url(../img/button_nav.png); */
    background-repeat: no-repeat;
    height: 50px;
    /* width: 203px; */
    font-weight: bold;
    color: #FFF;
    font-size: 13px;
    padding-top: 2px;
    cursor: pointer;
    /* padding-right: 10px; */
    padding-bottom: 5px;
}
#dashBoardsub_menu .main_nav_other{
    background-color: #0084FF;

}
.footer {
    background-color: #F9F9F9;
    border: 1px solid #e0e0e0;
    color: #000;
    font-weight: bold;
    text-align: left;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    bottom: 0px;
    position: fixed;
}

#contents {
    /*align-content: center;*/
    text-align: center;
}

.arrowbtn_first_active {
    position: relative;
    width: 25%;
    height: 30px;
    margin-left: 0px;
    color: #FFFFFF;
    background-color: #4C8BF5;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}

.arrowbtn_first {
    position: relative;
    width: 25%;
    height: 30px;
    margin-left: 0px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #4C8BF5;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}

.arrowbtn_second {
    position: relative;
    width: 30%;
    height: 30px;
    margin-left: 0px;
    color: #000000;
    border: 1px solid #4C8BF5;
    background-color: #FFF;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
}

.arrowbtn_second_active {
    position: relative;
    width: 30%;
    height: 30px;
    margin-left: 0px;
    color: #FFFFFF;
    background-color: #4C8BF5;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
}

.arrowbtn_third {
    position: relative;
    width: 25%;
    height: 30px;
    margin-left: 0px;
    color: #000000;
    border: 1px solid #4C8BF5;
    background-color: #FFF;
    float: left;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.arrowbtn_third_active {
    position: relative;
    width: 25%;
    height: 30px;
    margin-left: 0px;
    color: #FFFFFF;
    background-color: #4C8BF5;
    float: left;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.second_btn {
    position: relative;
    display: inline;
}

.arrowbtn_third:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 13px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 15px solid transparent;
}

.arrowbtn_second:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 13px solid transparent;
    border-right: 30px solid #FFF;
    border-bottom: 15px solid transparent;
}

.arrowbtn_second_active:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-right: 30px solid #4C8BF5;
    border-bottom: 15px solid transparent;
}

.arrowbtn_third_active:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 15px solid transparent;
    border-right: 30px solid #4C8BF5;
    border-bottom: 15px solid transparent;
}

.hospital_active {
    position: relative;
    width: 22%;
    height: 30px;
    margin-left: 0px;
    color: #FFFFFF;
    background-color: #4184F3;
    border: 1px solid #4184F3;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-left: 28.2%;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}

.clinic_inactive {
    position: relative;
    width: 20%;
    height: 30px;
    margin-left: 0px;
    color: #000;
    background-color: #FFFFFF;
    border: 1px solid #4184F3;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
}

.clinic_inactive:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 13px solid transparent;
    border-right: 30px solid #fff;
    border-bottom: 15px solid transparent;
}

.hospital_inactive {
    position: relative;
    width: 22%;
    height: 30px;
    margin-left: 0px;
    color: #000;
    background-color: #FFFFFF;
    border: 1px solid #4184F3;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    margin-left: 28.2%;
    cursor: pointer;
    text-align: left;
    padding-left: 15px;
}

.clinic_active {
    position: relative;
    width: 20%;
    height: 30px;
    margin-left: 0px;
    color: #FFFFFF;
    background-color: #4184F3;
    border: 1px solid #4184F3;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    float: left;
    cursor: pointer;
}

.clinic_active:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    left:-31.5px;
    border-top: 14px solid transparent;
    border-right: 30px solid #4184F3;
    border-bottom: 15px solid transparent;
}

#download_app {
    padding-top: 5%;
    padding-left: 5%;
    text-align: center;
}
/*************************/

.type_of_pain {
    margin-top: 10px;
}

#amount {
    margin-top: 10px;
}

.structure,
#change_model {
    width: 100px;
    height: 30px;
    color: #fff;
    padding: 5px;
    border: 1px solid #e0e0e0;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0px auto;
}
#male,
#male_back_structure,
#female,
#female_back_structure {
    display: none;
}

#add_provider, #history {
    text-align: center;
    padding: 2px;
    padding-left: 0px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 5px;
    width: 85px;
    float: right;
    display: inline;
    margin-left: 2px;
    color: #000;
    font-weight: bold;
}

#add_prof_img {
    font-weight: bold;
    border: 1px solid #e0e0e0;
    /* background-color: #eee; */
    text-align: center;
    padding: 2px;
    padding-left: 0px;
    cursor: pointer;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    width: 100px;
    float: left;
    display: block;
    margin-left: 2px;
    color: #000;
}

#upload_btn {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #298A08;
    width: 85px;
    float: left;
    margin-left: 2px;
    height: 20px;
}

#add_prob {
    text-align: center;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #FFF;
    padding: 3px;
    padding-left: 5px;
    color: white;
    width: 30px;
    height: 30px;
}

.input-alert {
    border-color: #ff0000;
}

.err {
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: -5px;
    text-align: center;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-top-color: transparent;
    position: relative;
}

#status_out,
.status_out {
    text-align: center;
}

#menulinks li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}
/*slider*/

#fileupload {
    width: 0;
    height: 0;
}

#menuIcon {
    display: inline;
    right: 8px;
    position: absolute;
    cursor: pointer;
    margin-top: 8px;
    float: right;
    top: 5px;
}

.dropdown-menu {
    margin: 8px 0 0 -140px;
    min-width: 175px;
    max-width: 175px;
}

.drop-menu {
    min-width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 175px;
    margin: 0px 2px 0px 2px;
}

.dropdown-menu > li > a {
    padding: 3px 10px;
    text-decoration: none;
    border-bottom-color: #e0e0e0;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: white;
    color: #298A08;
}

input[type="checkbox"] {
    margin: 0px 0 0;
    margin-top: 0px;
    padding-left: 5px;
}

#form_holder {
    padding: 0px;
    top: 0px;
    position: absolute;
    top: 5px;
    right: -45px;
}

#find-hospitals {
    width: 100px;
}

#no_emergency {
    width: 50%;
    /*align-self: center;*/
    text-align: center;
    margin: 0 auto;
    margin-top: 35px;
}

#hospital-active,
#hospital {
    text-align: center;
}
#family_grandparents_add_btn,#family_children_add_btn ,#family_sibilings_add_btn {
    border:1px solid #e0e0e0;
    color:#000;
}

#submit,#addsubmit_test,#submittarget,#father_submit,#mother_submit,#spouse_submit,#children_submit,#sibilings_submit,#grandparents_submit,
#submit-weight,#submit-height,#submit-heart,#submit-oximetry{
    width: 100px;
    float: right;
}

#cancel,#addcancel_test,#canceltarget,#father_cancel,#mother_cancel,#spouse_cancel,#children_cancel,#sibilings_cancel,#grandparents_cancel,
#cancel-weight,#cancel-height,#cancel-heart,#cancel-oximetry{
    width: 100px;
    float: left;
}

.titlehead b {
    padding-left: 2px;
}

#separate_primary {
    position: absolute;
    left: 53%;
    z-index: 25;
}

#separate_teriary {
    position: absolute;
    left: 23%;
    z-index: 25;
}

#alert-warning {
    width: 350px;
    margin: 0 auto;
}

#user-alert {
    height: 25px;
    background-color: #fff1a8;
    padding-top: 2px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 15px;
    text-align: center;
}

#user-alert-reg {
    height: 25px;
    background-color: #fff1a8;
    padding-top: 2px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    text-align: center;
}

#user-alert-reg-aval {
    height: 25px;
    background-color: #F2DEDE;
    padding-top: 2px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color:#A94442;
    text-align: center;
    display: none;
}

.modal-body {
    text-align: center;
    margin: 0 auto;
}

#send_model {
    width: 100%;
    text-align: center;
}

#user-alert_sendmail {
    width: 350px;
    height: 45px;
    background-color: #FAFFBD;
    padding-top: 0px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    left: 14%;
    right: 14%;
    padding-bottom: 5px;
    display: none;
    padding-top: 2px;
}

#send_report_box,
#send_email_box,
#resetpassword_box,
#contact_box {
    width: 50%;
}

#intermittent_radio_holder,
#constant_radio_holder {
    padding-right: 5px;
}

input[type="checkbox"] {
    margin-top: 3px;
}

#canvas {
    display: none;
}

#videoElement {
    width: 500px;
    height: 380px;
}

.video-model {
    width: 100%;
}

#video_error {
    text-align: center;
    display: none;
    font-weight: bold;
    color: red;
}

#reg_containar {
    margin: 0 auto;
}

.container-fluid {
    text-align: center;
}

#pain_char,
#pain_sym,
#pain_other,
#pain_allev,
#pain_type tr {
    text-align: left;
}

#social {
    text-align: left;
    display: inline;
    left: 5px;
    margin-top: 0px;
}

.social_icons {
    width: 50px;
    height: 50px;
    padding: 2px;
    cursor: pointer;
}
.icon-pad-c{

    color: #109D58;

    padding-right: 5px;
}

#lists {
    margin-left: 26%;
}

#other_singup {
    color: #298A08;
    font-weight: bold;
}

#photo_contain {
    padding-left: 15%;
}

@media screen and (min-width: 1370px) {
    .iframeholder {
        margin-left: 2%;
    }
}

#main_contents {
    width: 100%;
    border: 0;
    min-height: 550px;
    min-width: 600px;
    text-align: center;
    margin: auto;
    overflow-x: hidden;
}

.custombox {
    margin-top:10px;
    margin-left: 13%;
    text-align: center;
}

.insurance_btn_holder {
    text-align: justify;
}
/*********************/
/*custom modal*/

.modal-backdrop {
    color: transparent;
}

.modal-backdrop.in {
    opacity: 0;
}
/***scroll bar *******/


#chat_text {
    float: left;
    padding-left: 1px;
    padding-top: 13px;
}

#errormsg-alert_prob,
#successfull-send_prob,#errormsg-alert-age {
    width: 60%;
    margin: auto;
}

#connection_notify {
    display: none;
    background-color: #fff1a8;
    padding-top: 2px;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #000;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 45px;
    text-align: center;
    font-weight: bold;
    z-index: 150;
}

#loginheader_mobile {
    background: #298A08;
    border-bottom: 1px solid #298A08;
}

#loder_contain {
    padding-top: 10%;
}

#chatmain {
    height: 315px;
    width: 100%;
    overflow: scroll;
    border: 0px;
}

#device_status_out,
#device-errormsg-alert {
    display: none;
}
/****** moods ******/

#mood_types {
    width: 185px;
    margin: auto;
}

.moodcontrol {
    cursor: pointer;
    max-width: 40px;
}

#moodcontrolwrapper {
    position: absolute;
    top: 40px;
    left: 20px;
}

#moodstatus {
    color: #298A08;
    font-size: 15px;
    font-weight: bold;
}

/********* pain types ********/
#pain_types {
    margin: auto;
    width: 85px;
}

#left,
#right {
    cursor: pointer;
    font-size: 35px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#paindescbox,
#diabetes_confidence {
    padding: 5px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
}

#ros-attachment {
    float: right;
    margin-right: 5%;
    cursor: pointer;
}
/********* pain types ********/

#pain_types {
    margin: auto;
    width: 85px;
}

#left,
#right {
    cursor: pointer;
    font-size: 35px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#paindescbox {
    padding: 5px;
    width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 0 auto;
}

#close_plus {
    position: absolute;
    right: 2px;
    top: 0px;
    cursor: pointer;
}

#issues_tablepop {
    margin: 0 auto;
    margin-bottom: 10px;
}

#ros-checkbox {
    float: left;
}

.ros-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
}

.rosbody {
    text-align: left;
}

.ros_icotd {
    width: 70px;
    padding: 5px;
    text-align: right;
}

.ros_table {
    width: 200px;
    margin: auto;
}

#ros-attachment {
    cursor: pointer;
}
.roscollapse{
    font:inherit;
}

/************** Diabetes ******************/
.diabetes_ico {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}

.diabetes_ico_holder {
    height: 45px;
    margin: 10px;
    text-align: left;
    padding-left: 20%;
}

.diabetes_select_holder {
    position: absolute;
    height: 45px;
    text-align: left;
    padding-left: 20%;
    top: 63px;
    height: 25px;
    width: 100px;
}

.diabetes_title {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

#add_detail,
#diabetes_add_btn {
    background-color: #298A08;
    color: white;
}

.diabetes_add_holder {
    float: right;
    padding-right: 15px;
}

.diabetes_test_head {
    text-align: center;
}

.modal-header {
    background-color: #109D58;
    color: white;
    border-radius: 5px;
}

.title_holder,
.title_holder_target {
    color: #298A08;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.title_holder_target {
    padding: 5px;
}

.add_icon_diabetes,
.add_icon_diabetes_target {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    color: white;
    width: 30px;
    height: 30px;
    padding: 4px;
    float: right;
}

#status_out1,
#status_out_update,
.alert-warning,
.alert-success,
.nodisplay {
    display: none;
    text-align: center;
}
.no-padding{
    font-size:inherit;

}
.dia_team {
    height: 24px;
    padding-left: 10px;
}

.dia_edu {
    height: 24px;
    padding-left: 55px;
}

.dia_test {
    height: 24px;
    padding-left: 100px;
}

.dia_insulin {
    height: 24px;
    padding-left: 142px;
}

.dia_overmed {
    height: 24px;
    padding-left: 185px;
}
.dia_allegics{
    height: 24px;
    padding-left: 233px;
}
.dia_goal {
    height: 24px;
    padding-left: 275px;
}
/********** Preloader Overlay ************/

#preload_overlay,#preload_overlaychart{
    background: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: -114px;
    right: 0px;
    z-index: 1200;
    opacity: 0.8;
    display: none;
}
#preload_overlaychart {
    display: block;
}
#preload_overlay_light {
    background: transparent;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left:-114px;
    right: 0px;
    z-index: 1200;
    display: none;
}

#sub_preload_light img {
    width: 40px;
}

#sub_preload img {
    width: 40px;
}

#sub_preload_light {
    text-align: center;
    padding-top: 170px;
}

#sub_preload {
    text-align: center;
    padding-top: 140px;
}
/*header image */
#display-name {
    margin-left: 5px;
}

#headerprofileimg {
    margin-top: 8px;
    height: 80px;
    width: 80px;
    display: inline;
    border-radius: 40px;
}
.dyntitle{
    text-align:center;
}
#headerfirstname {
    display: inline-block;
    color: #000;
    width: 100px;
}
#successfull-send_review,#errormsg-alert_review{
    text-align: center;
}
#submit-weight,
#cancel-weight,
#submit-height,
#cancel-height,
#submit-heart,
#cancel-heart,
#submit-oximetry,
#cancel-oximetry {
    border: 1px solid #e0e0e0;
    color: #000;
    font-size: 14px;
    text-align: center;
}
#status_out_add_weight,
#status_out_add_height,
#status_out_add_heart,
#status_out_add_oximetry {
    display: none;
}
.sidebar_title_measure{
    text-align: left;
    /* padding-top: 4px; */
}
.ros_table td{ text-align: left;
               padding-left: 5px;
               color: #000;}   

/*health guide */
.healthtitle {
    background-color: #F9F9F9;
    color: #000;
    border: 1px solid #e0e0e0;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.health-maintenance {
    text-align: center;
    margin-top: 10px;
}

.nopadding-r {
    padding-right: 0px;
}

.quesImg {
    margin-left: 0px;
}

.quesImg {
    margin-left: 0px;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}

.tooltip-inner {
    max-width: 320px;
    width: 250px;
}

.hiden {
    display: none;
}
.healthguide {
    text-align: left;
    padding-left: 5px;
}
.title_top_health {
    color: #000;
}
.sub1 {
    float: left;
    clear:both;
}

.sub2 {
    width: 25px;
    float: left;
    margin-left: 5px;
}
.age_wrap {
    padding: 5px;
    width: 230px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 0 auto;
}
.agetitle{
    font-size:14px;
}
#healthmaintain-alert{
    width: 50%;
    padding-top: 50px;
    margin: auto;
    position: absolute;
    left: 250px;
}
.healthbox{
    margin-top:0px;
}
.collapsed{
    font-size: inherit;
}
#targetlevel-1,
#targetlevel-2,
#targetlevel-3,
#targetlevel-4,
#targetlevel-5,
#targetlevel-6,
#diabetes_contents{
    display:none;
}
#find-hospitals{background-color: #4C8BF5;
                color:#FFF;}
.icon-pad{color: #FFFFFF;font-size: 18px;/* padding-right: 5px; */}
.icon-pad-b{color: #FFFFFF;/* padding-right: 5px; */}
#check-in{
    color: #FFF;
    border: 1px solid #e0e0e0;
    background-color: #4B8DF8;
}
.icon-pad-check,.icon-pad-others{
    color: #4B8DF8;
    padding-right: 5px;
    bottom: 5px;
    font-size: 15px;
}
.icon-pad-others{
    color:#109D58;
}
#fileupload_btn {
    width: 50px;
    height: 50px;
    float: left;
    margin: 5px 0px 0px 5px;
}
.rosbtn{
    text-align: center;
}

.profiletext{
    color:#FFA961;
}
.medicaltext{
    color:#DE0121;
}
.micon {
    padding-right: 5px;
    color: #298A08;
}
.mchange {
    color: #5F4687;
}
.mlogout {
    color: #DB4437;
}
.mcontact {
    color: #0F9D58;
}
.pinicon {
    width: 25px;
    float: right;
    padding-right: 5px;
}
.center-block{
    text-align:center;
}
#send,
#send_report,
#send-preview {
    background-color: transparent;
    border: none;
    border-color: transparent;
    color: #FFF;
    background-image: url(../icons/btnsubmit.png);
    background-size: 60px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
#submit-pay,
#submit-glucose,
#moodsubmit,
#recover_button,
#send_report,
#add-review,
#send-xray,
#send-labreport,
#send-docnotes,
#submit-weight,
#submit-height,
#submit-heart,
#submit-oximetry,
#submittarget,
#targetA1c_modify,
#targetLdlc_modify,
#targethdlc_modify,
#targetacr_modify,
#targetegfr_modify,
#targetbp_modify,
#targetweight_modify,
#targetretinaleye_modify,
#targetfoot_modify,
#dia_test_modify,
#addsubmit_test,
#addsubmit_test,
#father_submit,
#mother_submit,
#sibilings_submit,
#grandparents_submit,
#children_submit,
#spouse_submit,
#submit_primary,
#submit_secondary,
#submit_tertiary,
#submit,
#mypainsubmit,
#issue_submit,
#addprovider,
#add_meicalprob_cat,
#add_childrens,
#add_sibilings,
#add_grandparents,
#diabetes_update_btn {
    /*background-color: #5CB85C;*/
    background-color: transparent;
    border: none;
    border-color: transparent;
    background-image: url(../icons/btnsubmit.png);
    background-size: 50px;
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 13px;
}

#send,
#send_report,
#send-preview {
    background-color: transparent;
    border: none;
    border-color: transparent;
    color: #FFF;
    background-image: url(../icons/btnsubmit.png);
    background-size: 60px;
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
#cancel-pay,
#cancel-glucose,
#close-review,
#cancel-weight,
#cancel-height,
#cancel-heart,
#cancel-oximetry,
#canceltarget,
#addcancel_test,
#father_cancel,
#mother_cancel,
#sibilings_cancel,
#grandparents_cancel,
#children_cancel,
#spouse_cancel,
#cancel,
#mypaincancel,
#issue_cancel {
    background-color: transparent;
    border: none;
    border-color: transparent;
    background-image: url(../icons/btncancel.png);
    background-size: 50px;
    margin-left: 10px;
    /*    background-color: #D9534F;*/
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 13px;
}

#add_prof_img span{
    color:#109d58;
}
#send-request {
    font-size: 14px;
    width: 100px;
    color:#000;
    border:1px solid #e0e0e0;
}
#resource-of-sym .panel-group{
    text-align:left ;
}
#bookdate{
    display: none;
}

#check-in,
#Book-Appointment
{
    background-color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 250px;
    color: #000;
    margin: 2px;
}

.foods-btn-ico {
    color: #109d58;
    font-size:14px;
    padding-right: 5px;
}

#foodtypes_main {
    width: 96%;
    background-color: #FFF;
    height: 350px;
    position: fixed;
    bottom: -350px;
    display: none;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid #e0e0e0;
    z-index: 140;
}

#food_close_holder {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

#food_close {
    padding-top: 1px;
    padding-right: 0px;
    float: right;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    z-index: 130;
    width: 40px;
    height: 30px;
    text-align: center;
    display: block;
}

#glucose-foodtype {
    border: 1px solid #e0e0e0;
}

.food_icoall {
    margin: auto;
    min-width: 30px;
    max-width: 30px;
    cursor: pointer;
}

.food_description {
    font-size: 15px;
    min-width: 20px;
    display: block;
    margin: auto;
    margin-top: 5px;
}

#customfoods1,
#customfoods2,
#customfoods3,
#customfoods4 {
    margin: 0px;
    font-size: 10px;
}

#foods1,
#foods2,
#foods3,
#foods4 {
    margin-left: -5px;
}
#submit-glucose{
    float:right;
}
#cancel-glucose{
    float:left;
}
.overlayother{
    display:none;
}
.simpleh5{
    color:#000;
}
.lableleft {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: left;
}
.boxline {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
}
.form-row{
    font-size:inherit;
}
.payment-errors{
    color:#F00;   
    display: block; 
    margin-bottom: 10px;}

.lefttitle{
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
}
.viewdash{color:#fbbc05;}
.pageview {
    text-align: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.chartsload {
    opacity: 0;
}
.next_details {
    font-size: 17px;
    color: #109d58;
    border-color: #109d58;
    background-color: #FFF;
}
.plus_overlay {
    top: 50px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 118;
    opacity: 0.8;
    background-color: #fff;
    display: none;
}
.customnext {
    float: right;
    font-size: 17px;
    color: #109d58;
    border: 1px solid #109d58;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    background-color: #FFF;
    width: 50px;
    cursor: pointer;
}

.next-buttons {
    background-color: #eee;
    margin-top: 5px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    height: 25px;
}
.back-btn {
    text-align: left;
    float: left;
}

.nxt-btn {
    float: right;
    text-align: right;
}
.customback {
    float: left;
    font-size: 17px;
    color: #109d58;
    border: 1px solid #109d58;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    background-color: #FFF;
    width: 50px;
    cursor: pointer;
    margin:0px;
}
.custom_right{
    text-align: left;
}
.labelcheckbox{text-align: left;}
.moodicons,.painicons{
    margin: auto;
    text-align: center;
    cursor: pointer;
    width: 75px;
    min-width: 45px;
    padding: 5px;
}
.moods_title,.pain_title {
    display: inline-block;
    font-size: 12px;
    /* text-align: center; */
}
#painholder {
    text-align: center;
}

#moodsarrange{text-align: center;}
.btn_sendmail {
    width: 100px;
}
#device-access{
    background-image: url(../img/device/Fitbit.png);
    background-repeat: no-repeat;
}
.info_boxalert {
    position: absolute;
    top: 20%;
    float: left;
    color: #F44336;
    font-size: 25px;
}

.alert-box {
    border: 2px solid #FFD800;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #fcf8e3;
}
.sendinfo {
    padding: 10px;
    margin-top: 10px;
}
#header_logo{
    width: 180px;
    margin-top: 0px;
}


/*helpicon*/

@media (max-width: 768px) {
    .help_icon {
        float: right;
        cursor: pointer;
        /*position: absolute;*/
        right: 10%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .help_icon {
        float: right;
        cursor: pointer;
        /*position: absolute;*/
        right: 6%;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .help_icon {
        float: right;
        cursor: pointer;
        /*position: absolute;*/
        right: 5%;
    }
}

@media (min-width: 1200px) {
    .help_icon {
        float: right;
        cursor: pointer;
        /*position: absolute;*/
        right: 5%;
    }
}

.helpthumb {
    width: 25px;
}

.help_overlay{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    z-index: 118;
    opacity: 0.3;
    background-color: #fff;
    display: none;
}

/* Help Div*/

#help_wrapper {
    padding-top: 5px;
    background-color: #FFF;
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 120;
    display: none;
    /*
    overflow-y: scroll;
    overflow-x: hidden;
    */
}

#help_wrapper_in {
    padding: 15px;
}

#helpcontent_in {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#help_gotit {
    background-color: #FFF;
    border: 1px solid #03A9F4;
    margin-top: 15px;
    width: 210px;
    font-size: 15px;
    color: #03A9F4;
    margin-top: 15%;
}
#helpcontent_in {
    text-align: center;
}

#helphead {
    color: #109d58;
    font-weight: bold;
}
.healthqu_head{color: #109d58;font-size: 18px;}

#mainmenu{
    font-size: 25px;
    color: #AAAAA9;
}
.terms {
    color: #40AF7C;
    font-weight: bold;
    margin-top: 10px;
}
#terms_content {
    padding: 15px;
    margin-top: 5px;
    text-align: left;
    width:80%;
    margin:auto;
}
.footer_terms {
    position: fixed;
    padding: 10px;
    background-color: #FFFFFF;
    height: 70px;
    bottom: 0px;
    width: 100%;
    padding-top: 20px;
    /* margin-bottom: 10px; */
    border: 0px;
    border-top: 1px solid #e0e0e0;
}

#accept_term {
    float: left;
    color: #5cb85c;
    background-color: transparent;
    background-image: none;
    border-color: #5cb85c;
    max-width:350px;
}

#notaccept_term {
    float: right;
    color: #d9534f;
    background-color: transparent;
    background-image: none;
    border-color: #d9534f;
    max-width:350px;
}

#terms_alert {
    display: none;
    background-color: #e0e0e0;
    top: 30%;
    background-color: transparent;
    width: 80%;
    left: 10%;
    right: 10%;
    height: 50px;
    position: fixed;
    z-index: 1300;
}
#errormsg-terms{
    width:350px;
    margin:0px auto;
}
#backterms{
    color: #106C9B;
    padding-top: 8px;
    float: left;
    font-size: 28px;
    cursor: pointer;
}

#device_status_card {
    display: none;
    margin-bottom: 5px;
}
#provider_head {
    display: block;
    text-align: center;
    font-size: 16px;
}

#hospital_more, #clinic_more {
    float: right;
    color: #03A9F4;
    cursor: pointer;
    font-size: 15px;
    display: none;
}
/*side bar*/
.sidecontent{
    width:100%;
    height:50px;
    background-color: #03A9F4;
    margin-top: 5px;
}
.sideprofile{
    height: 140px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
}
.side_imgholder{
    text-align: center;
    cursor: pointer;
}
.side_title{
    text-align: center;
    color: #FFF;
}
.side_img{
    width:56px;
}
.bg1 {
    background-color: #3F51B5;
}

.bg2 {
    background-color: #1B9494;
}

.bg3 {
    background-color: #9C27B0;
}

.bg4 {
    background-color: #4CAF50;
}

.bg5 {
    background-color: #DE0121;
}

.bg6 {
    background-color: #FF5722;
}

.bg7 {
    background-color: #03A9F4;
}

.bg8 {
    background-color: #0084FF;
}

.bg9 {
    background-color: #673AB7;
}

.bg10 {
    background-color: #E91E63;
}

.bg11 {
    background-color: #F44336;
}
.menu{
    position: absolute;
    display: none;
    z-index: 999;
    padding: 10px;
}
#profileimg{
    height:100px;
    width:100px; 
    float:left;
    display:block;
}

#submitcontact{
    background-color: transparent;
    border: none;
    border-color: transparent;
    background-image: url(../icons/btnsubmit.png);
    background-size: 50px;
    color: #fff;
    font-size: 20px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-top: 5px;
    padding-left: 13px;
}

#wearableurl{
    width:100%;
    height:500px;
}

::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
