@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,800,400);
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.inbox{
    min-height: 200px;
    padding: 10px;
    border: 1px solid #D3D3D3;
}
.inbox h3{
    background-color: #F76183;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}
/* LIST #4 */
#list4 { width:320px; font-family:Georgia, Times, serif; font-size:15px; }
#list4 ul { list-style: none; }
#list4 ul li { display:block; text-decoration:none; color:#000000; background-color:#FFFFFF; line-height:30px;
    border-bottom-style:solid; border-bottom-width:1px; border-bottom-color:#e9eaed; padding-left:10px; cursor:pointer; }
#list4 ul li:hover { color:#000; background-color:#F9F9F9; background-repeat:repeat-x; }
#list4 ul li strong { margin-right:10px; }
#fullMessages{
    list-style: none;
}
#msgPreview{
    padding-left: 30px;
}
#fullMessages li{
    border-bottom: 1px solid #e9eaed;
}

/*........................................from inbox design*/
.inbox_col{
    background-color: darkcyan;
    padding-bottom: 5px;
}
.expand_message{
    display: none;
}
.back_btn{
    display: none;
    max-height: 22px;
}

/*....................inbox css.................................... */
body .inbox_container {
    min-height: 315px;
    max-height: 315px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: #CCCCCC;
    overflow: hidden;
}
body .inbox_container_ui {
    background: white;
    overflow: auto;
    max-height: 516px;
    overflow-x: hidden;
}
body .inbox_container_ui__heading {
    height: 40px;
    width: 100%;
    background: #333658;
}
body .inbox_container_ui__heading .header_icon {
    float: left;
    text-align: left;
}
body .inbox_container_ui__heading .header_icon img {
    margin: 9px 20px 20px 10px;
    cursor: pointer;
}
body .inbox_container_ui__heading h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    height: 10px;
    margin: 0;
    font-size: 12px;
    float: left;
    width: 50%;
    letter-spacing: 1px;
    line-height: 45px;
    text-align: center;
}
body .inbox_container_ui__heading .header_icon {
    float: left;
    width: 20%;
    height: 40px;
}
body .inbox_container_ui__heading .menu_icon {
    width: 33%;
    float: left;
    text-align: right;
    position: relative;
    top: 25px;
    right: 20px;
    cursor: pointer;
}
body .inbox_container_ui__heading .menu_icon div {
    width: 21px;
    height: 2px;
    float: right;
    display: block;
    margin-bottom: 3px;
    border-radius: 1px;
    clear: both;
    background: rgba(0, 0, 0, 0.26);
}

body .inbox_container_ui label {
    cursor: pointer;
    display: block;
    max-height: 71px;
    float: left;
    width: 100%;
    overflow: hidden;
}
body .inbox_container_ui label:hover > .inbox_container_ui__item {
    background-color: #EAEAEA !important;
}
body .inbox_container_ui label .inbox_container_ui__item {
    /*pointer-events: none;*/
}
body .inbox_container_ui__item {
    width: 100%;
    float: left;
    height: 74px;
    text-align: left;
    color: black;
    box-shadow: 0px -1px rgba(0, 0, 0, 0.07);
    color: white;
    background: #F5F5F5;
    cursor: pointer;
}
body .inbox_container_ui__item h2, body .inbox_container_ui__item h3, body .inbox_container_ui__item h4 {
    color: black;
}
body .inbox_container_ui__item h2 {
    font-size: 11px;
    display: inline-block;
    color: #515151;
    text-transform: uppercase;
    font-weight: 800;
    margin: 10px 0px 0px 0px;
    padding-top: 5px;
}
body .inbox_container_ui__item h3 {
    font-size: 8px;
    font-weight: 800;
    margin: 5px 0px 10px 0px;
    text-transform: uppercase;
    color: #B2B2B2;
}
body .inbox_container_ui__item h4 {
    font-size: 10px;
    font-weight: 600;
    margin: 0;
    color: #919191;
    padding-right: 5px;
    padding-top: 3px;
}
body .inbox_container_ui__item .face {
    float: left;
    clear: left;
    margin: 0;
    margin-right: 10px;
    position: relative;
}
body .inbox_container_ui__item .face img {
    min-width: 70px;
    max-height: 70px;
    /* margin: 10px; */
    /* border-radius: 5px; */
}

body .inbox_container_ui .dot {
    width: 6px;
    height: 6px;
    background: #cdcdcd;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    top: -1px;
    z-index: -0;
    left: 3px;
}
body .inbox_container_ui .active {
    background: #6cbe63;
}



/*.................................................................*/
/*
.col-md-2, .col-md-10{
    padding:0;
}*/
.avatar{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    overflow-x:hidden;
    max-height: 262px;
    min-height: 262px;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
    text-align: left;
}
.msg_receive p{

}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
    text-align: right;
}
.msg_sent p{

}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
.avatar img {
    display: block;
}
.avatar {
    position: relative;
    max-height: 50px;
    max-width: 62px;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
.panel{
    border-radius: 0;
}

/*..............New Css.....................*/
.modal-chat{
    top: inherit;
    left: inherit;
    margin-bottom: -2px;
}
.icon_minim{
    padding-right: 6px;
    padding-top: 0px;
}
@media (min-width: 768px){
    .modal-dialog {
    margin: 0px auto; }
}
.modal-dialog {
    margin-left: 0px;
}
.btn:focus,.btn:active {
    outline: none !important;
}
.close{
    outline: none !important;
}
.modal-content {
    border-radius: 0px;
    /*border: 1px solid #eeeeee;*/
}
.modal-header {
    padding: 0px;
    padding-bottom: 0px;
}
.modal-dialog{
    width: 100%;
}
.modal-body {
     padding: 0px 0px 0px 0px;
}
.chat-header{
    width: 10%;
    float: left;
    margin: 13px 0px 0px 0px;
    text-align: center;
    color: #FFFFFF;
}
.chat-header span{
    color: #ffffff;
}
.chat-header-warper {
    height: 60px;
    width: 100%;
    background: #333658;
}
.modal-dialog{
    margin-bottom: 0px;
}
.inbox_container_ui::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.vid_chat{
    display: none;
}

.row .video-container {
    position:relative;
}
.video-container {
    padding: 5px;
    position:relative;
}
.peerVideo {
    border: 1px solid #399225;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */      -moz-transform:rotateY(180deg); /* Firefox */;
    width: 100%;
    height: auto;
    float: left;
    position: absolute;
}

.userVideo {
    border: 2px solid #eee;
    height: 120px;
    width: auto;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}

#video_notification{
    display: none;
    padding: 3px;
}
.answerBtn{
    background-color: #62AB32;
    color: #fff;
    padding: 8px 32px 8px 28px;
    font-size: 17px;
    width: 100%;
}

.declineBtn{
    background-color: #D63429;
    color: #fff;
    padding: 8px 32px 8px 28px;
    font-size: 17px;
    width: 100%;
}
.hidden{
    display: none;
}
.nopadding{
    padding-left: 0px;
    padding-right: 0px;
}.no-padding {

}
